doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- Fonts
    link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet")

    //- Styles
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar navbar-expand-lg navbar-light bg-light justify-content-between')
      div(class='nav-links')
        a(href="/" class='navbar-brand') Breddit

      div(class='nav-buttons')
        a(class='nav-item btn btn-outline-info my-2 my-sm-0 mx-2' href='/club/new') Create Club
        if !currUser
          a(class='nav-item btn btn-outline-primary my-2 my-sm-0 mx-2' href='/register') Sign Up
          a(class='nav-item btn btn-outline-success my-2 my-sm-0 mx-2' href='/login') Log In
        else 
          a(class='nav-item btn btn-outline-danger my-2 my-sm-0 mx-2' href='/logout') Log Out

    block content

    block scripts
